<!--General CSS-->

body{
  font-family: "Gloria Hallelujah, Cursive";
  margin: 0px;
  padding: 0px;
  background-color: #EAEEE8;
}
div {
  height: auto;
  width: auto;
  margin: 0 auto;
  vertical-align: top;
}
header {
  background-color: #696969;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.wrapper {
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  height: 150px;
}
.title {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 3px;
  text-align: center;
  color: #808080
}

  h1 {
    color: #808080;
    font-family: Gloria Hallelujah;
    font-size: 30px;
  }
  h2{
    color: #bbbbbb;
    font-family: Gloria Hallelujah;
    font-size: 15px;
  }

  p{
    color:black;
    font-family: Gloria Hallelujah;
    font-size: 20px;
  }
  .dropbtn {
      background-color: #696969;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      min-width: 200px;
    }

  .dropdown {
        position: fixed;
        top: 0;
        right: 0;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #696969;
        color: white;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

    }
    .dropdown-content a {
    color: black;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
  }
  .dropdown-content a:hover {
    background-color: turquoise;
    color: #696969;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: turquoise;
}

#About {
  align-items: center;
  justify-content:center;
}

#work {
  align-items: center;
  justify-content: center;
}

#feelingfancy {
  align-items: center;
  justify-content: center;
}


.Team {
  font-family: Gloria Hallelujah;
  color: white;
  text-align: left;
  margin-left: auto;
  font-size:40px;
}

.work {
  font-family: Gloria Hallelujah;
  color: white;
  text-align: left;
  margin-left: auto;
  font-size:40px;
}


.row{
  margin: 20px;
  padding-bottom: 103px;
}

.col-md-3 .col-sm-2 .col-xs-1{
  background-color: white;
  color: #696969;
  font-size: 20px;
  font-family:Gloria Hallelujah;
  margin:30px;
  object-fit: contain;
}

.col-sm-2{
  background-color: white;
  color: #696969;
  font-size: 20px;
  font-family:Gloria Hallelujah;
  margin:30px;
  object-fit: contain;
}

.col-xs-1{
  background-color: white;
  color: #696969;
  font-size: 20px;
  font-family:Gloria Hallelujah;
  margin:30px;
  object-fit: contain;
}
.teamphoto {
  padding: 15px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right:auto;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.coffeehouse {
  padding: 15px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right:auto;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.blurb {
  font-family:Gloria Hallelujah;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color:#808080+;
}

.footer {
  position: fixed;
  height: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,.4));
  color: white;
  text-align: center;
}
.fa {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.7;
    color:white;
  }

.icons {
  padding-top:5px;
  padding-bottom: 5;
  align-items: center;
  justify-content:center;
}

.fa-facebook {
    background: #000000;
    color: white;
    margin-left: 25px;
  }

.fa-facebook:active {
      background: #000000;
      color: blue;
      margin-left: 25px;
    }

.fa-facebook:hover {
        background: #000000;
        color: blue;
        margin-left: 25px;
      }

.fa-twitter {
        background: #000000;
        color: white;
        margin-left: 25px;
      }
.fa-twitter:active {
              background: #000000;
              color: #34ebe9;
              margin-left: 25px;
            }

.fa-twitter:hover {
                          background: #000000;
                          color: #34ebe9;
                          margin-left: 25px;
                        }
.fa-instagram {
    background: #000000;
    color: white;
    margin-left:25px;
}

.fa-instagram:active {
    background: #000000;
    color: #f42e78;
    margin-left:25px;
}

.fa-instagram:hover {
    background: #000000;
    color: #f42e78;
    margin-left:25px;
}

.PageTitle {
  font-size: 45px;
  color: White;
  font-family: Gloria Hallelujah;
}


<!--CSS for Get_your_fix-->
.description {
  color: #0d0d0d;
  text-align: center;
  font-size: 10px;
  font-family: Gloria Hallelujah;}

.list {
  color: #1a1a1a;
  text-align: center;
  padding: 4%;
  max-width:100%;
  margin:40;
  list-style-type: none;
  font-size: 15px;
  font-family: Gloria Hallelujah;}

.Group {
  color:#696969;
  font-size: 27px;
  max-width: 100%;
  font-size; 30px;
  font-family: Gloria Hallelujah;
  }
}


<!--where to go CSS-->
.frontpagebody {
  font-family: "Gloria Hallelujah, Cursive";
  margin: 0;
  padding: 0;
  background-color: #EAEEE8;
}
.frontpageheader {
  background-image: url("Images/Coffee.jpg");
  background-size: cover;
}

.wrapper1 {
  background-image:url("Images/Coffee.jpg"); background-size: cover; linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  height: 100vh;
}
.Intro {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
}


  }
